<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/bootstrap.css">
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <!-- <h1><%= title %></h1>  -->   
    <section>
      <header>
        <h2>WSmart | Gestion </h2>
      </header>
      <div id='users'>
        <%
          var l=users.length;
          console.log(users);
          for(var i=0;i<l;i++){
         %>
          <span > <%= users[i].name %></span>
          <button class='b btn btn-danger' value='<%= users[i].uuid %>'>Banear</button>
         <% } %>


      </div>
      
    </section>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/javascripts/vendor/jquery.js"></script>
    <script src="/javascripts/main.js"></script>
  </body>
</html>