<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/bootstrap.css">
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <!-- <h1><%= title %></h1>  -->   
    <section>
      <header>
        <h2>WSmart | Chat </h2>
      </header>
      <div id='mensajes'>
        
      </div>
      <div id='login-div' class="form-inline" >

        <input type="text"  name='caja-login' id='login-t' placeholder='escribe tu nombre' required />
        <button type="submit" name='btn-login' class="btn" id='login-b'>Iniciar</button>

      </div>

      <form name='chat-msg'  action="" class="form-inline">

        <fieldset>
          <input id="caja" type="text" name='mensaje' placeholder='mensaje' required />
          <button type="submit" class="btn">Responder</button>
        </fieldset>

      </form>
      
    </section>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/javascripts/vendor/jquery.js"></script>
    <script src="/javascripts/main.js"></script>
  </body>
</html>