body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
a {
  color: #00b7ff;
}
.msg {
  margin-bottom: 5px;
  padding: 1px;
}
.off {
  color: rgba(0,0,0,0.3);
}
form fieldset,
#mensajes {
  display: none;
}
